<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanggoe.pjtdaejanggan.repository.DataMapper">
    <insert id="upsertVerse">



        INSERT INTO title_meta (id, title, frequency, related, updatetime)
        VALUES (#{id}, #{title}, #{frequency}, #{related}, #{updatetime}) on duplicate key
        e id=#{id}, title=#{title}, frequency=#{frequency}, related=#{related}, updatetime=#{updatetime}
    </insert>

    <select id="findById" parameterType="String" resultType="trendAnalysis.project.dto.TrendInfoFromRss">
        select * from title_meta where id=#{id}
    </select>

    <select id="findByTitle" parameterType="String" resultType="trendAnalysis.project.dto.TrendInfoFromRss">
        select * from title_meta where title like #{title}
    </select>

    <select id="findByDay" parameterType="String" resultType="trendAnalysis.project.dto.TrendInfoFromRss">
        select * from title_meta where id like #{yyMMdd}
    </select>

    <select id="findTitlesByDay" parameterType="String" resultType="String">
        select title from title_meta where id like #{yyMMdd}
    </select>

    <select id="findRecently" resultType="String">
        select * from title_meta
    </select>

    <select id="findAll" resultType="trendAnalysis.project.dto.TrendInfoFromRss">
        select * from title_meta
    </select>
</mapper>